@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "View";
}
@model WebAppTextEditor.Models.EditorModel

<div>
    <h6>@Html.DisplayNameFor(model => model.ContentDetails)  </h6>
    <hr />
</div>
<div>
    @Html.Raw(Model.ContentDetails)
</div>
<div>
    <a asp-action="Index"/><button class="my-button" type="submit">Back</button></a>
</div>
